<h3>Edit Book</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" name="form">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Category</span>
        </div>
        <input [(ngModel)]="book.category" autocomplete="off" class="form-control" id="category" name="category" placeholder="Category"
               required required type="text">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Title</span>
        </div>
        <input [(ngModel)]="book.title" autocomplete="off" class="form-control" id="title" name="title" placeholder="Title" required
               required type="text">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Year</span>
        </div>
        <input [(ngModel)]="book.year" autocomplete="off" class="form-control" id="year" name="year" placeholder="Year" required
               required type="text">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Price</span>
        </div>
        <input [(ngModel)]="book.price" autocomplete="off" class="form-control" id="price" name="price" placeholder="Price"
               required="true" required type="number">
      </div>
    </div>
    <button class="btn btn-primary" style="margin-left: 10px" type="submit">Submit</button>
    <button (click)="list()" class="btn btn-warning" style="margin-left: 10px">Back</button>
    <br>
  </form>
</div>
