<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Book List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | async">
            <td>{{book.category}}</td>
            <td>{{book.title}}</td>
            <td>{{book.year}}</td>
            <td>{{book.price}}</td>
            <td>
              <button (click)="deleteBook(book.id)" class="btn btn-danger" style="margin-left: 10px">Delete Book</button>
              <button (click)="updateBook(book.id)" class="btn btn-warning" style="margin-left: 10px">Update Book</button>
              <button (click)="addAuthor(book.id)" class="btn btn-success" style="margin-left: 10px">Add Author</button>
              <button (click)="bookDetails(book.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>