<body>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Book List<i class="fa fa-book fa-0x fa-pull-left fa-border  "
                    style="font-size:36px;color:rgb(135, 196, 253)"></i>
    </h2>
  </div>
  <p hidden>This paragraph is not visible on the page, it is hidden from the HTML.</p>
  <div class="panel-body">
    <form [formGroup]="searchForm">
      <div class="input-group">
        <input aria-describedby="basic-addon1"
               autocomplete="off"
               class="form-control"
               formControlName="title"
               name="search"
               name="title" placeholder="Search for a book..." type="text">
        <button (click)="search()" type="submit"><i class="fa fa-search" style="font-size:48;color:orange;"></i></button>&nbsp;
        <button (click)="clear()" type="submit"><i class="fa fa-window-close" style="font-size:48;color:red;"></i></button>&nbsp;
        <button (click)="refresh()" type="submit"><i class="fa fa-refresh" style="font-size:48;color:mediumseagreen;"></i></button>
      </div>

      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books | paginate: { itemsPerPage: countCustomer, currentPage: pageCustomer }"
            class="table-primary">
          <!--      <tr *ngFor="let book of books | async" class="table-primary">-->
          <td>{{book.category}}</td>
          <td>{{book.title}}</td>
          <td>{{book.year}}</td>
          <td>{{book.price}}</td>
          <td>
            <button (click)="deleteBook(book.id)" class="btn-sm btn-danger" data-placement="top" data-toggle="tooltip"
                    style="margin-left: 10px" title="Delete Book">Remove <i class="fa fa-trash"
                                                                            style="font-size:24px"></i></button>
            <button (click)="updateBook(book.id)" class="btn-sm btn-warning" data-placement="top" data-toggle="tooltip"
                    style="margin-left: 10px" title="Edit Book">Edit <i class="fa fa-pencil" style="font-size:24px"></i>
            </button>
            <button (click)="bookDetails(book.id)" class="btn-sm btn-info" data-placement="top" data-toggle="tooltip"
                    style="margin-left: 10px" title="View Details about Book">Details <i class="fa fa-file-text-o"
                                                                                         style="font-size:24px"></i>
            </button>
            <button (click)="addAuthor(book.id)" class="btn-sm btn-primary" data-placement="top" data-toggle="tooltip"
                    style="margin-left: 10px" title="Add Book Author/s">Add Author <i class="fa fa-user-plus"
                                                                                      style="font-size:24px"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col">
          <div class="float-right">
            <pagination-controls
              (pageChange)="pageCustomer = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <div *ngIf="isLoaded" style="text-align: center;">
        <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <span>{{ page }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
      </div>
    </form>
  </div>
</div>
</body>
