    <h3>Add Author</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form #addAuthor = "ngForm" (ngSubmit) = "onSubmit(addAuthor.value)">

    <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Author</span>
      </div>
      <input type="text" placeholder="Name Initial. Surname" autocomplete="off" class="form-control" id="author" required [(ngModel)]="book.author" name="author">    
    </div> 
  </div>

    <!-- <button type="submit" class="btn btn-success" style="margin-left: 10px"><a onClick="window.location.reload()"></a>Submit</button>
 -->
    <button type="submit" class="btn btn-primary" style="margin-left: 10px">Submit</button>
    <button (click)="list()" class="btn btn-warning" style="margin-left: 10px">Back</button><br>
  </form>

</div>
<br/>
<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="w-25">Author</th>
          <!-- <th scope="col">Author Initials</th>
          <th scope="col">Author Surname</th> -->
          <th scope="w-25">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-primary"  *ngFor="let book of books | async">
          <td>{{book.author}}</td>
          <!-- <td>{{book.initial}}</td>
          <td>{{book.surname}}</td> -->
          <td>
             <button (click)="deleteAuthor(book.id)" class="btn btn-danger btn-sm" 
             style="margin-left: 10px">
             <a onClick="window.location.reload()"></a>
             Remove Author <i class="fa fa-user-times" style="font-size:24px"></i></button>
         <!--   <button (click)="updateAuthor(book.id)" class="btn btn-warning btn-sm" style="margin-left: 10px">Update Author</button>
            <button (click)="addAuthor(book.id)" class="btn btn-success" style="margin-left: 10px">Add Author</button>
            <button (click)="bookDetails(book.id)" class="btn btn-info" style="margin-left: 10px">Details</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>