<h3>Add Author</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form #addAuthor="ngForm" (ngSubmit)="onSubmit(addAuthor.value)">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Author</span>
        </div>
        <input [(ngModel)]="author.authorName" autocomplete="off" class="form-control" id="author" name="author"
               placeholder="Name Initial. Surname" required type="text">
      </div>
    </div>

    <button class="btn btn-primary" style="margin-left: 10px" type="submit">Submit</button>
    <button (click)="list()" class="btn btn-warning" style="margin-left: 10px">Back</button>
    <br>
  </form>

</div>
<br/>
<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="w-25">Author Name</th>
        <th scope="w-25">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let author of authors" class="table-primary">
        <td>{{author.authorName}}</td>
        <td>
          <button (click)="deleteAuthor(author.id)" class="btn btn-danger btn-sm"
                  style="margin-left: 10px">
            <a onClick="window.location.reload()"></a>
            Remove Author <i class="fa fa-user-times" style="font-size:24px"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
