<h3>Create Book</h3>

<form [formGroup]="bookForm">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Category</span>
      </div>
      <input autocomplete="off"
             class="form-control"
             formControlName="category"
             id="category"
             name="category"
             placeholder="Category"
             required type="text">
      <span *ngIf="(bookForm.get('category').touched) &&
                bookForm.get('category').errors?.required"
            class="text-danger">
                Category is required
          </span>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Title</span>
      </div>
      <input autocomplete="off" class="form-control" formControlName="title" id="title" name="title" placeholder="Title"
             required
             required type="text">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Year</span>
      </div>
      <input autocomplete="off"
             class="form-control"
             formControlName="year"
             id="year"
             name="year"
             placeholder="Year"
             required
             required type="text">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Price</span>
      </div>
      <input autocomplete="off" class="form-control" formControlName="price" id="price" name="price" placeholder="Price"
             required="true" required type="number">
    </div>
  </div>
  <button (click)="save()" class="btn btn-primary" style="margin-left: 10px" type="submit">Submit</button>
  <button (click)="gotoList()" class="btn btn-warning" style="margin-left: 10px">Back</button>
  <br>

</form>

